@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*base*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  color: #000000;
  display: flex;
}

.main-index,
.main-inner {
  flex-grow: 1;
}

.page-footer {
  display: flex;
}

/*navigation*/

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 170px;
  list-style-type: none;
}

.navigation-logo-image {
  position: absolute;
}

.navigation-item {
  position: relative;
  display: inline-block;
  margin: 0;
}

.navigation-link {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-item-icons:hover,
.navigation-item-icons:focus {
  background-color: rgba(131, 179, 211, 0.20);
}

.navigation-link:active,
.navigation-item-icons:active {
  opacity: 50%;
}

.navigation-link:hover::before,
.navigation-link:focus::before,
.navigation-link.current-page::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  bottom: 0;
  left: 16px;
  right: 16px;
}

.navigation-items-right {
  display: flex;
  margin: 0;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.navigation-user {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.navigation-item-icons {
  display: flex;
  margin: 0;
}

.navigation-item-icons:last-of-type {
  position: relative;
}

.navigation-link-icon-search {
  display: inline-block;
  margin: 0;
  width: 44px;
  height: 64px;
  background-image: url("../images/icons/search.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.navigation-link-icon-featured {
  display: inline-block;
  margin: 0;
  width: 44px;
  height: 64px;
  background-image: url("../images/icons/featured.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
}

.count {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  background-color: #7DB54F;
  min-width: 20px;
  min-height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 3px;
}

/*hero*/

.hero-title {
  width: 100% auto;
  height: 485px;
  padding-top: 51px;
  color: #000000;
  background-color: #4D636E;
  background-image: url("../images/index-background-mask.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero-header {
  display: block;
  margin: 0 auto;
}

/*sections*/

.section-title {
  margin: 0;
  color: #000000;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-title-subscribe{
  color: #ffffff;
}

.section-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

/*text pushing*/
.advantages .section-title {
  margin: 0 auto;
  padding-top: 61px;
  max-width: 700px;
}

.services .section-title {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 510px;
}

.main-search .section-title {
  margin: 0 auto;
  padding-top: 96px;
}

.advantages .section-description {
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 61px;
}

.services .section-description {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 64px;
}

.main-search .section-description {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 54px;
}

.subscribe .section-title {
  margin: 0 auto;
  padding-top: 96px;
}

.subscribe .section-description {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 54px;
}

/*main*/

.advantages-list,
.services-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.advantages-title,
.services-title {
  position: relative;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 175px;
  margin: 0 auto;
}

.advantages-title {
  margin-bottom: 30px;
}

.advantages-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color:rgba(0, 0, 0, 0.30);
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-description {
  margin: 0 auto;
  margin-top: 30px;
}

.advantages-item-illustrated .advantages-title::before {
  background-color:rgba(255, 255, 255, 0.30);
}

.services-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding-top: 105px;
  min-width: 75px;
}

.advantages-item,
.services-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 80px;
  align-content: center;
}

.advantages-item,
.services-item-saturated {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-saturated {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item-illustrated {
  color: #ffffff;
  background-color: #82B3D3;
  width: 100%;
  display: flex;
}

.advantages-item-illustrated .advantages-title {
  color: #ffffff;
}

.advantages-bridge {
  order: -1;
}

.services-house {
  background-image:  url("../images/icons/services-house.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.services-food {
  background-image:  url("../images/icons/services-food.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.services-souvenir {
  background-image:  url("../images/icons/services-souvenir.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
}

/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 27px;
}

.breadcrumbs-link:hover{
  opacity: 60%;
}

.breadcrumbs-link:active{
  opacity: 30%;
}

.breadcrumbs-link-main {
  display: inline-block;
  background-image:  url("../images/icons/breadcrumbs-home.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 12px;
  min-height: 21px;
}

.breadcrumbs-item:not(:last-of-type)::before {
  content: "";
  background-image:  url("../images/icons/breadcrumbs-arrow.svg");
  position: absolute;
  left: 100%;
  margin-left: 10px;
  top: 5px;
  width: 7px;
  height: 10px;
}

/*subscribe*/

.subscribe {
  width: 100% auto;
  height: 415px;
  color: #000000;
  background-color: #ffffff;
}

.main-subscribe {
  color: #ffffff;
  background-color: #407AAA;
  background-image:  url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.subscribe-input {
  flex-grow: 1;
  min-height: 52px;
  background-color: #F2F2F2;
  border-width: 0;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
}

/*search*/

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.search {
  width: 100%;
  margin: 0;
  padding: 70px;
  padding-top: 35px;
  color: #ffffff;
  background-color: #606062;
  background-image:  url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.search-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.search-list-check,
.search-list-radio {
  width: 150px;
  margin: 0;
  padding: 0;
  border: 0;
}

.search-list-check {
  margin-right: 70px;
}

.search-list-price {
  width: 288px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: space-between;
}

.search-label {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-left: 36px;
}

.search-label:hover {
  opacity: 60%;
}

.search-label:active {
  opacity: 30%;
}

.search-label-checkbox,
.search-label-radio,
.search-price-label {
  position: relative;
}

.search-label-checkbox::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
}

.search-input[type="checkbox"]:focus + .search-label-checkbox::before,
.search-input[type="radio"]:focus + .search-label-radio::before, {
  border: 3px solid #83B3D3;
}

.search-input[type="checkbox"]:checked + .search-label-checkbox::after{
  content: "";
  position: absolute;
  background-image: url(../images/icons/tick.svg);
  width: 20px;
  height: 19px;
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
}

.search-label-radio::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
}

.search-input[type="radio"]:checked + .search-label-radio::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3F5E72;
  left: -31px;
  top: 50%;
  transform: translateY(-50%);
}

.search-price-input {
  position: relative;
  width: 143px;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
}

.search-price-label:first-of-type .search-price-input {
  border: 0;
  border-radius: 4px 0 0 4px;
}

.search-price-label:last-of-type .search-price-input {
  border: 0;
  border-radius: 0 4px 4px 0;
}

.search-price-tag {
  position: absolute;
  top: 12px;
  right: 20px;
  color: rgba(0, 0, 0, 0.30);
  text-transform: lowercase;
}

.search-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 16px;
  align-items: center;
  justify-items: start;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.search-form-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 70px;
}

/*catalog*/

.filter-select {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 14px 20px;
}

.catalog {
  padding: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hotels-list {
  display: grid;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
}

.hotels-title {
  margin: 0;
}

.view-selection {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.view-button {
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.view-button:hover,
.view-button:active,
.view-button-current {
  border-color: #000000;
}

.view-button:focus {
  border-color: #68A2CA;
}

.view-tiles {
  background-image: url("../images/icons/view-tiles.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.view-slideshow {
  background-image: url("../images/icons/view-slideshow.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.view-list {
  background-image: url("../images/icons/view-list.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-select {
  width: 292px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  margin-left: auto;
  background-color: #FFFFFF;
}

.hotels-item {
  display: grid;
  padding: 20px 19px;
  gap: 16px 20px;
  grid-template-rows: 212px 1fr auto auto auto;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotels-image:hover,
.hotels-image:focus {
  opacity: 75%;
}

.hotels-image:active {
  opacity: 50%;
}

.hotels-price {
  text-align: end;
}

.hotels-rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-self: end;
  border: 0;
  border-radius: 4px;
  padding: 8px;
  width: 140px;
  color: #333333;
  background-color: #F2F2F2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.hotels-title:hover,
.hotels-title:focus {
  color: #407AAA;
}

.hotels-title:active {
  opacity: 50%;
}

.hotels-link {
  grid-column: 1/3;
  color: #000000;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.hotels-stars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-one-star {
  background-image: url("../images/icons/star.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 18px;
  min-height: 17px;
  margin-right: 6px;
}

.hotel-one-star:last-of-type {
  margin-right: auto;
}

.section-title-left {
  text-align: left;
}

/*pagination*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.pagination-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
  margin-right: 8px;
}

.pagination-link:not(.pagination-current):not(.pagination-other):hover,
.pagination-link:not(.pagination-current):not(.pagination-other):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-current):not(.pagination-other):active {
  color:  rgba(255, 255, 255, 0.30);
}

.pagination-current,
.pagination-other {
  color: #000000;
}

.pagination-other {
  background-color: #ffffff;
}

.pagination-current {
  background-color: #F2F2F2;
}

/*buttons*/

.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  padding: 8px;
  width: 140px;
  color: #ffffff;
  background-color: #756157;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color:  rgba(255, 255, 255, 0.30);
}

.button:disabled {
  background-color: #E5E5E5;
}

.search-button {
  width: 160px;
  min-height: 36px;
  margin-left: 20px;
}

.search-button-big {
  width: 376px;
  min-height: 52px;
  margin-bottom: 96px;
  font-size: 20px;
  line-height: 36px;
}

.featured-button,
.subscribe-button,
.search-submit {
  background-color: #82B3D3;
}

.featured-button:hover,
.subscribe-button:hover,
.search-submit:hover,
.featured-button:focus,
.subscribe-button:focus,
.search-submit:focus {
  background-color: #68A2CA;
}

.featured-button.check-on {
  background-color: #7DB54F;
}

.featured-button.check-on:hover,
.featured-button.check-on:focus {
  background-color: #6C9E42;
}

.search-clear,
.search-submit {
  width: 191px;
}

.subscribe-button {
  width: 232px;
  min-height: 52px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.search-clear {
  background-color:  rgba(0, 0, 0, 0);
  margin-top: 32px;
}

.search-clear:hover {
  color:  rgba(255, 255, 255, 0.60);
  background-color:  rgba(0, 0, 0, 0);
}

.search-clear:focus {
  background-color:  rgba(0, 0, 0, 0);
}

.search-clear:active {
  color:  rgba(255, 255, 255, 0.30);
  background-color:  rgba(0, 0, 0, 0);
}

.search-clear:disabled {
  color:  rgba(255, 255, 255, 0.10);
  background-color:  rgba(0, 0, 0, 0);
}
/*footer*/

.footer-container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.contacts-media {
  display: grid;
  grid-template-columns: repeat(3, 44px);
  grid-template-rows: 40px;
  margin: 0;
  padding: 0;
}

.contacts-media-item {
  display: flex;
  margin: 0;
}

.media-vkontakte,
.media-telegram,
.media-youtube {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.media-icon {
  color: #83B3D3;
}

.media-icon:hover,
.nedia-icon:focus {
  color: #68A2CA;
}

.media-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  display: inline-block;
  color: #000000;
  margin: 0;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-logo-image {
  color: #000000;
}

.contacts-phone:hover,
.contacts-phone:focus,
.navigation-logo-image:hover,
.navigation-logo-image:focus {
  color: #756157;
}

.contacts-phone:active,
.navigation-logo-image:active {
  color: rgba(117, 97, 87, 0.30);
}

.contacts-academy {
  display: flex;
  width: 115px;
  align-items: center;
  justify-content: center;
}
