@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}
.hero-title {
  width: 1200px;
  height: 485px;
  color: #000000;
  background-color: #ffffff;
  background-image:  url("../images/index-background-mask.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.main-index {
  background-color: #ffffff;
}
.section-title {
  color: #000000;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.section-title-subscribe{
  color: #ffffff;
}
.section-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}
.advantages-list,
.services-list {
  text-align: center;
}
.advantages-title,
.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-list {
  text-align: center;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-item,
.services-item-saturated {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-saturated {
  background-color: rgba(131, 179, 211, 0.20);
}
.advantages-item-illustrated {
  color: #ffffff;
  background-color: #82B3D3;
}
.main-subscribe {
  width: 1200px;
  height: 415px;
  color: #ffffff;
  background-color: #000000;
  background-image:  url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.search {
  width: 1200px;
  height: 412px;
  color: #ffffff;
  background-color: #000000;
  background-image:  url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.button {
  width: 160px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.pagination-item {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  justify-content: center;
  align-items: center;
}
.pagination-current {
  background-color: #F2F2F2;
}
.pagination-current .pagination-link {
  color: #000000;
}
.pagination-link,
.pagination-other {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}
.page-footer {
  background-color: #ffffff;
}
.contacts-phone {
  color: #000000;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.featured-button {
  color: #FFFFFF;
  background-color: #82B3D3;
}
.featured-button.active{
  background-color: #7DB54F;
}
.hotels-rating {
  color: #333333;
  background-color: #F2F2F2;
}
