@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*base*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  color: #000000;
  display: flex;
}

.main-index,
.main-inner {
  flex-grow: 1;
}

.page-footer {
  display: flex;
}

/*navigation*/

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 170px;
  list-style-type: none;
}

.navigation-logo-image {
  position: absolute;
}

.navigation-item {
  display: inline-block;
  margin: 0;
}

.navigation-link {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 16px 20px;
}

.navigation-items-right {
  display: flex;
  margin: 0;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.navigation-user {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.navigation-item-icons {
  display: flex;
  margin: 0;
}

.navigation-link-icon-search {
  display: inline-block;
  margin: 0;
  width: 44px;
  height: 64px;
  background-image: url("../images/icons/search.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.navigation-link-icon-featured {
  display: inline-block;
  margin: 0;
  width: 44px;
  height: 64px;
  background-image: url("../images/icons/featured.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
}

.count {
  color: #ffffff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  background-color: #7DB54F;
  padding: 5px; /*пока так, потом сделаю правильно*/
  border-radius: 50%;
}

/*hero*/

.hero-title {
  width: 100% auto;
  height: 485px;
  padding-top: 51px;
  color: #000000;
  background-color: #4D636E;
  background-image: url("../images/index-background-mask.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero-header {
  display: block;
  margin: 0 auto;
}

/*sections*/

.section-title {
  margin: 0;
  color: #000000;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-title-subscribe{
  color: #ffffff;
}

.section-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

/*text pushing*/
.advantages .section-title {
  margin: 0 auto;
  padding-top: 61px;
  max-width: 700px;
}

.services .section-title {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 510px;
}

.main-search .section-title {
  margin: 0 auto;
  padding-top: 96px;
}

.advantages .section-description {
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 61px;
}

.services .section-description {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 64px;
}

.main-search .section-description {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 54px;
}

.subscribe .section-title {
  margin: 0 auto;
  padding-top: 96px;
}

.subscribe .section-description {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 54px;
}

/*main*/

.advantages-list,
.services-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.advantages-title,
.services-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 175px;
  margin: 0 auto;
}

.advantages-item,
.services-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 80px;
}

.advantages-item,
.services-item-saturated {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-saturated {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item-illustrated {
  color: #ffffff;
  background-color: #82B3D3;
  width: 100%;
  display: flex;
}

.advantages-item-illustrated .advantages-title {
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

/*subscribe*/

.subscribe {
  width: 100% auto;
  height: 415px;
  color: #000000;
  background-color: #ffffff;
}

.main-subscribe {
  color: #ffffff;
  background-color: #407AAA;
  background-image:  url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.subscribe-input {
  flex-grow: 1;
  min-height: 52px;
  background-color: #F2F2F2;
  border-width: 0;
  border-radius: 4px 0 0 4px;
}

/*search*/

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.search {
  width: 100% auto;
  margin: 0;
  padding: 70px;
  padding-top: 35px;
  color: #ffffff;
  background-color: #606062;
  background-image:  url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: cover;
}

.search-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.search-label {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.search-options {
  list-style-type: none;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-form-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-buttons {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*pagination*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
  margin-right: 8px;
}

.pagination-current,
.pagination-other {
  color: #000000;
}

.pagination-other {
  background-color: #ffffff;
}

.pagination-current {
  background-color: #F2F2F2;
}

/*buttons*/

.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  padding: 8px;
  width: 140px;
  color: #ffffff;
  background-color: #756157;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
}

.search-button {
  width: 160px;
  min-height: 36px;
  margin-left: 20px;
}

.search-button-big {
  width: 376px;
  min-height: 52px;
  margin-bottom: 96px;
}

.featured-button {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.featured-button.active{
  background-color: #7DB54F;
}

.subscribe-button,
.search-submit {
  background-color: #82B3D3;
}

.subscribe-button {
  width: 232px;
  min-height: 52px;
  border-radius: 0 4px 4px 0;
}

.search-clear {
  background-color:  rgba(0, 0, 0, 0);
}

/*catalog*/

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1060px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.hotels-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 340px 340px 340px;
}

.hotels-title {
  margin: 0;
}

.hotels-item {
  display: grid;
  padding: 20px;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px 1fr auto auto auto;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotels-rating {
  color: #333333;
  background-color: #F2F2F2;
}

.hotels-link {
  grid-column: 1/3;
  color: #000000;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.hotel-one-star {
  background-image: url("../images/icons/star.svg");
  background-size: auto;
  background-repeat: no-repeat;
}

/*mics*/

.section-title-left {
  text-align: left;
}

/*footer*/

.footer-container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.contacts-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.contacts-media-item {
  display: flex;
  margin: 0;
  padding: 10px;
}

.contacts-phone {
  display: inline-block;
  color: #000000;
  margin: 0;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-academy {
  display: flex;
  width: 115px;
  align-items: center;
  justify-content: center;
}
